# Application configuration
APP_NAME=mini-banking-project
SERVER_PORT=8080

# Config database
DB_NAME=mini-banking-db
DB_USERNAME=admin
DB_PASSWORD=admin

# Config security
JWT_SECRET=defaultDevSecretKeyThatIsLongEnough_please_replace
ACCESS_EXP=3600000
REFRESH_EXP=604800000

# Postgres and PgAdmin in container
ORACLE_PORT=5432
ORACLE_CONTAINER_PORT=5435
